version: "3.9"

services:
  jenkins:
    build:
      context: .
      dockerfile: custom_jenkins/Dockerfile
    container_name: jenkins
    user: root
    ports:
      - "8081:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

volumes:
  jenkins_home:
