services:
  jenkins:
    build:
      context: .
      dockerfile: custom_jenkins/Dockerfile
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8081:8080"

volumes:
  jenkins_home:
